<ion-header>
  <ion-navbar>
    <ion-title>
      Hello World by SuRu  <ion-icon ios="logo-angular" md="logo-angular"></ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div text-center>
      <ion-list>
          <ion-item>
            <ion-label fixed>Contato</ion-label>
            <ion-input type="text" [(ngModel)]="contato.nome"></ion-input>
          </ion-item>
        
          <ion-item>
            <ion-label fixed>Telefone</ion-label>
            <ion-input type="text" [(ngModel)]="contato.telefone"></ion-input>
          </ion-item>
        </ion-list>
      <button ion-button (click)="addContato()" color='primary' round>Criar Contato</button>
  </div>
  <div text-center>
    <button ion-button (click)="buscaContatos()" color='primary' round>Busca Contatos</button>
</div>
 <ion-list>
  <button ion-item *ngFor="let item of itens" (click)="detailsItem(item)">
    {{ item.nome }}
  </button>  
</ion-list>
<ion-list>
  <button ion-item *ngFor="let c of contatos">
    {{ c.name.formatted }}
  </button>  
</ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <p>Version {{ version}}</p>
    <ion-buttons end>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>